<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.wms4.mapper.EmployeesMapper">
	<select id="selectPasswd" resultType="string">
		SELECT EMP_PASSWD
			FROM employees
			WHERE EMP_EMAIL = #{emp_email}
	</select>
	
	<select id="selectIdx" resultType="int">
		SELECT IDX
			FROM employees
			WHERE EMP_EMAIL = #{emp_email}
	</select>
	
	<select id="selectEmployee" resultType="com.itwillbs.wms4.vo.EmployeesVO">
		SELECT * 
			FROM employees
			WHERE EMP_EMAIL = #{sId}
	</select>
	
	<!-- 해당 회원의 권한 조회 -->
	<select id="selectPriv_cd" resultType="String">
		SELECT priv_cd
			FROM employees
			WHERE EMP_EMAIL = #{emp_email}
	</select>
	
</mapper>
