<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.wms4.mapper.HrMapper">
  
  <!-- 사원 등록 -->
  <insert id="insertEmployee" useGeneratedKeys="true" keyProperty="idx">
	  	INSERT 
	  		INTO employees
	  		VALUES (
	  			#{idx}
				, #{idx}
	  			, #{emp_name}
	  			, #{dept_cd}
	  			, #{grade_cd}
	  			, #{emp_tel}
	  			, #{emp_dtel}
	  			, CONCAT(#{emp_email1}, "@", #{emp_email2}) 
	  			, #{emp_passwd}
	  			, #{emp_post_no}
	  			, CONCAT(#{emp_addr1}, ", ", #{emp_addr2})
	  			, #{hire_date}
	  			, #{work_cd}
	  			, #{priv_cd}
	  			, #{photo}
	  		)
	  	<selectKey keyProperty="idx" resultType="int" order="AFTER">
			SELECT LAST_INSERT_ID();
		</selectKey> 	
	</insert>
	
	<!-- 사원번호 업데이트 -->
	<update id="updateEmp_num">
		<!-- 사원번호 조합 : 부서코드 + 입사연도 2자리 + idx(3자리) -->
		<selectKey keyProperty="emp_num" resultType="String" order="BEFORE">
			SELECT CONCAT(#{dept_cd}, MID(#{hire_date}, 3, 2), LPAD(#{idx}, 3, '0'))
				FROM employees 
 				WHERE idx = #{idx}
		</selectKey>
		UPDATE employees
			SET emp_num = #{emp_num}
			WHERE idx = #{idx}
	</update>
	
	<!-- 사원 목록 조회 (재직중인 사원만 조회)-->
	<select id="selectEmpList" resultType="com.itwillbs.wms4.vo.EmpInfoVO">
      SELECT e.emp_num, e.emp_name, e.dept_cd, d.dept_name, e.grade_cd, g.grade_name, e.emp_tel, e.emp_email, e.work_cd, e.photo
         FROM employees e
            JOIN departments d USING(dept_cd) 
            JOIN grade g USING(grade_cd)
         WHERE work_cd = '01'
      <if test='!keyword.equals("")'>
			<choose>
				<when test="searchType.equals('emp_name')">
					AND emp_name LIKE '%${keyword}%'
				</when>
				<when test="searchType.equals('dept_name')">
					AND dept_name LIKE '%${keyword}%'
				</when>
				<when test="searchType.equals('grade_name')">
					AND grade_name LIKE '%${keyword}%' 
				</when>
			</choose>		
		</if>
			LIMIT 
			#{startRow}
			, #{listLimit}
	</select>
  
  	<!-- 재직중인 사원 수 조회 -->
  	<select id="selectEmpListCount" resultType="int">
  		SELECT COUNT(*)
  			FROM employees e
            JOIN departments d USING(dept_cd) 
            JOIN grade g USING(grade_cd)
  			WHERE work_cd = '01'
	 	<if test='!keyword.equals("")'>
			<choose>
				<when test="searchType.equals('emp_name')">
					AND emp_name LIKE '%${keyword}%'
				</when>
				<when test="searchType.equals('dept_name')">
					AND dept_name LIKE '%${keyword}%'
				</when>
				<when test="searchType.equals('grade_name')">
					AND grade_name LIKE '%${keyword}%' 
				</when>
			</choose>		
		</if> 
  	</select>
  	
  	<!-- 사원 상세정보 조회 -->
  	<select id="selectEmpInfo" resultType="com.itwillbs.wms4.vo.EmployeesVO">
  		SELECT *	
  			FROM employees
  			WHERE emp_email = #{emp_email}
  	</select>
  	
  	<!-- 사원 정보 수정 -->
  	<update id="updateEmployees">
  		UPDATE employees
  			SET
  				emp_name = #{emp_name}
	  			, dept_cd = #{dept_cd}
	  			, grade_cd = #{grade_cd}
	  			, emp_tel = #{emp_tel}
	  			, emp_dtel = #{emp_dtel}
	  			, emp_email = CONCAT(#{emp_email1}, "@", #{emp_email2})
	  			, emp_post_no = #{emp_post_no}
	  			, emp_addr = CONCAT(#{emp_addr1}, ", ", #{emp_addr2})
	  			, hire_date = #{hire_date}
	  			, work_cd = #{work_cd}
	  			<if test="priv_cd neq null and priv_cd neq''">
	  			, priv_cd = #{priv_cd}
	  			</if>
	  			<if test="photo neq null and photo neq ''">
	  			, photo = #{photo}
	  			</if>
	  		WHERE 
	  			emp_email = #{emp_email}	
  	</update>
  	
  	<!-- 사원정보 수정시 사원번호 업데이트 -->
	<update id="modifyEmp_num">
		<selectKey keyProperty="emp_num" resultType="String" order="BEFORE">
			SELECT CONCAT(#{dept_cd}, MID(#{hire_date}, 3, 2), LPAD(#{idx}, 3, '0'))
				FROM employees 
 				WHERE emp_email = #{emp_email}
		</selectKey>
		UPDATE employees
			SET emp_num = #{emp_num}
			WHERE emp_email = #{emp_email}
	</update>
	
	<!-- 이메일 중복체크 -->
	<select id="checkEmail" resultType="int">
		SELECT COUNT(*)
			FROM employees
			WHERE emp_email = #{emp_email}
	</select>
	  
</mapper>
