<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.wms4.mapper.WarehouseMapper">
  
	<!-- 창고코드 DB 존재여부 확인 -->
	<select id="checkCode" resultType="int">
		SELECT COUNT(*)
			FROM warehouse
				WHERE wh_cd = #{wh_cd}
	</select>
	
	<!-- 창고 등록 작업 -->
	<insert id="regist_wh_code">
		INSERT 
			INTO warehouse
			VALUES (
				#{wh_cd}
				,#{wh_name}
				,#{wh_gubun}
				,#{wh_location}
				,#{wh_addr}
				,#{wh_tel}
				,#{wh_man_name}
				,#{wh_use}
				,#{remarks}
				,#{wh_postCode}
			)
	</insert>
	
	<!-- 창고 목록 작업 -->
	<select id="warehouseList" resultType="com.itwillbs.wms4.vo.WarehouseVO">
		SELECT *
			FROM warehouse
		<!-- 1. 검색어(keyword) 가 널스트링이 아닐 때 검색어 추가 WHERE 절 수행, 아니면 생략 -->
		<!-- => 조건이 하나일 경우 if 태그를 사용하여 단일 조건 판별(if 문 구조) -->
		<if test='!keyword.equals("")'>
			WHERE
			<choose>
				<when test="searchType.equals('wh_cd')">
					wh_cd LIKE '%${keyword}%'
				</when>
				<when test="searchType.equals('wh_name')">
					wh_name LIKE '%${keyword}%'
				</when>
				<when test="searchType.equals('wh_gubun')">
					wh_gubun LIKE '%${keyword}%' 
				</when>
				<when test="searchType.equals('wh_man_name')">
					wh_man_name LIKE '%${keyword}%' 
				</when>
				<when test="searchType.equals('wh_use')">
					wh_use LIKE '%${keyword}%' 
				</when>
			</choose>		
		</if>
		LIMIT 
			#{startRow}
			, #{listLimit}
	</select>
	
	<!-- 사용버튼 전용 창고리스트 출력 -->
	<select id="selectUseWhList" resultType="com.itwillbs.wms4.vo.WarehouseVO">
		SELECT *
			FROM warehouse
		<!-- 1. 검색어(keyword) 가 널스트링이 아닐 때 검색어 추가 WHERE 절 수행, 아니면 생략 -->
		<!-- => 조건이 하나일 경우 if 태그를 사용하여 단일 조건 판별(if 문 구조) -->
		<where>
			<if test="wh_use != null and wh_use == 1">
				wh_use = #{wh_use}
			</if>
		</where>
			LIMIT 
				#{startRow}, #{listLimit}
	</select>
	
	<!-- 미사용버튼 전용 창고리스트 출력 -->
	<select id="selectNotUseWhList" resultType="com.itwillbs.wms4.vo.WarehouseVO">
		SELECT *
			FROM warehouse
		<!-- 1. 검색어(keyword) 가 널스트링이 아닐 때 검색어 추가 WHERE 절 수행, 아니면 생략 -->
		<!-- => 조건이 하나일 경우 if 태그를 사용하여 단일 조건 판별(if 문 구조) -->
		<where>
			<if test="wh_use != null and wh_use == 2">
				wh_use = #{wh_use}
			</if>
		</where>
			LIMIT 
				#{startRow}, #{listLimit}
	</select>
	
	<!-- 창고 목록 페이징 처리 작업 -->
	<select id="selectWhListCount" resultType="int">
		SELECT COUNT(*)
			FROM warehouse -- 이후 작업 분기 일어남
			<if test="!keyword.equals('')">
				WHERE
				<choose>
					<when test="searchType.equals('wh_cd')">
						wh_cd LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('wh_name')">
						wh_name LIKE '%${keyword}%'
					</when>
					<when test="searchType.equals('wh_gubun')">
						wh_gubun LIKE '%${keyword}%' 
					</when>
					<when test="searchType.equals('wh_man_name')">
						wh_man_name LIKE '%${keyword}%' 
					</when>
					<when test="searchType.equals('wh_use')">
						wh_use LIKE '%${keyword}%' 
					</when>
				</choose>					
			</if>
	</select>
	
	<!-- 창고 상세정보 조회 작업 -->
	<select id="selectWarehouse" resultType="com.itwillbs.wms4.vo.WarehouseVO">
		SELECT *
			FROM warehouse
			WHERE 
				wh_cd = #{wh_cd}
				AND wh_name = #{wh_name}
	</select>
	
	<!-- 창고정보 삭제 작업 -->
	<delete id="deleteWarehouse">
		DELETE 
			FROM warehouse
			WHERE wh_cd = #{wh_cd}
	</delete>
	
	<!-- 창고 수정 폼 요청 작업-->
	<select id="getWarehouse" resultType="com.itwillbs.wms4.vo.WarehouseVO">
		SELECT *
			FROM warehouse
			WHERE 
				wh_cd = #{wh_cd}
	</select>
	
	<!-- 창고 수정 작업 요청 -->
	<update id="UpdateWarehouse">
  		UPDATE warehouse
  			SET
  				wh_cd = #{wh_cd},
  				wh_name = #{wh_name},
  				wh_gubun = #{wh_gubun},
  				wh_location = #{wh_location},
  				wh_addr = #{wh_addr},
  				wh_tel = #{wh_tel},
  				wh_man_name = #{wh_man_name},
  				wh_use = #{wh_use},
  				remarks = #{remarks}
  				
  			WHERE 
  				wh_cd = #{wh_cd}
  	</update>
	
</mapper>
