<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.itwillbs.wms4.mapper.WmsMapper">
 
<!--   전체 창고 조회 -->
  <select id="selectWhList" resultType="com.itwillbs.wms4.vo.WarehouseVO">
  	SELECT * 
  		FROM warehouse
  </select>
  <select id="selectAreaList" resultType="com.itwillbs.wms4.vo.WhAreaVO">
  	SELECT * 
  		FROM wh_area
		WHERE
			wh_cd = 
			#{searchArea}
  </select>
  <select id="selectLocationList" resultType="map">
	SELECT wh_cd, wh_area, l.wh_area_cd, wh_loc_in_area, wh_loc_in_area_cd
		FROM wh_location l
		JOIN wh_area a
		ON l.wh_area_cd = a.wh_area_cd
		WHERE
			a.wh_cd = #{searchArea}
		AND
			l.wh_area_cd = 
			#{searchLocation}
  </select>
  <select id="selectStockList" resultType="map">
	SELECT s.stock_cd, s.product_cd, s.wh_loc_in_area_cd, s.stock_qty,
			p.product_name, p.size_des, w.wh_name, w.wh_area, w.wh_loc_in_area,
			a.wh_cd, a.wh_area_cd
			FROM stock s
			JOIN product p
			ON s.product_cd = p.product_cd
			JOIN wh_detail w
			ON s.wh_loc_in_area_cd = w.wh_loc_in_area_cd
			JOIN wh_area a
			ON w.wh_area = a.wh_area
			<if test="!searchArea.equals('')">
				WHERE wh_cd = #{searchArea}
				<choose>
					<when test="!searchLocation.equals('')">
						AND wh_area_cd = #{searchLocation}
						<if test="!searchGo.equals('')">
							AND w.wh_loc_in_area_cd = #{searchGo}
						</if>
					</when>
				</choose>
			</if>
<!-- 			<if test="searchArea.equals('')"> -->
<!-- 						WHERE wh_cd = '없는값'		 -->
<!-- 			</if> -->
		LIMIT 
			#{startRow}
			, #{listLimit}
  </select>
  <select id="selectStockListCount" resultType="int">
	SELECT COUNT(*)
		FROM stock s
		JOIN product p
		ON s.product_cd = p.product_cd
		JOIN wh_detail w
		ON s.wh_loc_in_area_cd = w.wh_loc_in_area_cd
		JOIN wh_area a
		ON w.wh_area = a.wh_area
		<if test="!searchArea.equals('')">
				WHERE wh_cd = #{searchArea}
				<choose>
					<when test="!searchLocation.equals('')">
						AND wh_area_cd = #{searchLocation}
						<if test="!searchGo.equals('')">
							AND w.wh_loc_in_area_cd = #{searchGo}
						</if>
					</when>
				</choose>
		</if>
  </select>
<!-- 	구역명 등록 -->
  <insert id="insertArea">
	  	INSERT 
	  		INTO wh_area
		  		VALUES (
		  			#{wh_cd}
		  			, #{wh_area}
		  			, #{wh_area_cd}
		  		)
	</insert>
<!-- 	위치명 등록 -->
  <insert id="insertLocation">
	  	INSERT 
	  		INTO wh_location
		  		VALUES (
		  			#{wh_area_cd}
		  			, #{wh_loc_in_area}
		  			, #{wh_loc_in_area_cd}
		  		)
  </insert>
<!--   구역명 삭제 -->
  <delete id="deleteArea">
  		DELETE
  			FROM wh_area
  			WHERE wh_area_cd = #{wh_area_cd}
  </delete>
<!--   위치명 삭제 -->
  <delete id="deleteLocation">
  		DELETE
  			FROM wh_location
  			WHERE wh_loc_in_area_cd = #{wh_loc_in_area_cd}
  </delete>
<!--   구역명 수정 -->
  <update id="updateArea">
		UPDATE wh_area
			SET
				wh_area = #{wh_area}
			WHERE
				wh_area_cd = #{wh_area_cd}
  </update>
<!--   위치명 수정 -->
  <update id="updateLocation">
		UPDATE wh_location
			SET
				wh_loc_in_area = #{wh_loc_in_area}
			WHERE
				wh_loc_in_area_cd = #{wh_loc_in_area_cd}
  </update>
</mapper>
