@charset "UTF-8";
.main-panel {
    	height: 940px;
    	display: flex;
    }
    .card {
		position: absolute;
		top: 50%;
		left: 50%;
    	margin: 0 auto;
  		justify-content: center;
    	line-height: 30px;
    	width: 400px;
    }
    h3 {
    	text-align: center;
    }