@charset "UTF-8";
.container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
}
.item {
	flex-basis: content;
	flex-grow: 0;
	
}
li {
	margin-top: 5px;
	float: center;
    font-size: 15px;
}
li > button {
	float: right;
	margin-left: 5px;
}
h1 {
	text-align: center;
	margin: 0% auto;
}
